<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestCov &centerdot; 404 NOT FOUND</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>
<body>
    <h1 class="heading">TestCov</h1>
    <h2 class="h2">404 NOT FOUND</h2>
    <p class="test">The url you entered does not exists. If you entered the URL manually please check your spelling and try again.</p>
</body>
</html>
