<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9s69KIlM4OEX3-kresajeu-I23An8Sz6z2nwnvM0qk0" />
    <title>TestCov &centerdot; About Us</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>
<body>
    <h1 class="heading">Work in Progress</h1>
    <form action="#" method="POST">
        <input type="submit" style="width: auto; margin: auto;" class="input-button" name='Response' value="Back to Home Page">
    </form>
</body>
</html>

