<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestCov &centerdot; Asked Your Question</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>
<body>
    <h1 class="heading">TestCov</h1>
    <h2 class="h2">Your question has been asked and will be answer in a few hours.</h2>
    <p class="test">You will recieve a mail containing your answer for the question you asked and you can also check your answer here on our website once answered.</p>
    <form action="#" class="box" method="POST">
        <input type="submit" style="width: auto;" class="input-button" name="Response" value="Back to FAQ(s)">
        <input type="submit" style="width: auto;" class="input-button" name="Response" value="Back to Home Page">
    </form>
</body>
</html>