<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9s69KIlM4OEX3-kresajeu-I23An8Sz6z2nwnvM0qk0" />
    <title>TestCov &centerdot; Error</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class="heading">ERROR</h1>
    <h2 class="h2">{{ code }}</h2>
</body>
</html>
