<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="google-site-verification" content="9s69KIlM4OEX3-kresajeu-I23An8Sz6z2nwnvM0qk0"/> -->
    <title>TestCov &centerdot; FAQ(s)</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>
<body style="height: 150vh;">
    <h1 class="heading">TestCov</h1>
    <h2 class="h2" style="margin: 30px auto;">Frequently Asked Question(s)</h2>
    {% if num_question > 5 %}
    {% set questions = questions[::-1][:5] %}
    {% endif %}
    {% for question in questions %}
    <div class="ques-box" style="height: auto;">
        <p class="question" style="text-align: center;">{{ question[1] }} &#187;</p>
        <p class="answer">{{ question[2] }}</p>
        <p class="asked-by">Asked by - {{ question[0] }}</p>
    </div>
    {% endfor %}
    <form action="#"method='post'>
        <input type="submit" name="Response" class="input-button" style="width: auto;margin: auto;" value="Ask a question">
    </form>
</body>
</html>
