<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>TestCov</h1>
    <h2>Welcome to our website check your corona positive probablity just by answering few yes/no questions for free.</h2>
    <p>{{ test }}</p>
    <form class = "box" method="post" action="#">
        <input type="submit" name="Response" value="Test Now">
        <input type="submit" name="Response" value="About Us">
    </form>
</body>
</html>