<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9s69KIlM4OEX3-kresajeu-I23An8Sz6z2nwnvM0qk0" />
    <title>TestCov &centerdot; Testing</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>

<body>
    <h1 class="heading">TestCov</h1>
    <p class="h2" style="font-weight: 100;">Answer these few questions and find your risk probability from <span style="font-weight: 900;">Covid-19</span>.</p>
    <form action="#" method="POST" class="ques">
        <div class="ques-box" style="height: auto;">
            
            <label>
                <p class="question">Enter your name</p>
                <input class="text-input" aria-placeholder="Enter your name here" placeholder="Your name" type="text" name="name">
            </label>
        </div>
        {% for question in questions.items() %}
        <div class="ques-box">
            <p class="question">{{ question[1] }}</p>
            <label class="options">
                <input type="radio" name={{question[0]}} value="YES">
                YES
            </label>
            <label class="options">
                <input type="radio" name={{question[0]}} value="NO">
                NO
            </label>
        </div>
        {% endfor %}
        <input type="submit" class="input-button" style="width: 200px; letter-spacing: 3px; margin: 20px auto;" name="z" value="submit" >

    </form>
</body>

</html>
