<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9s69KIlM4OEX3-kresajeu-I23An8Sz6z2nwnvM0qk0" />
    <title>TestCov &centerdot; Testing</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
</head>

<body style="height: 400vh;">
    <h1 class="heading">TestCov</h1>
    <p class="h2" style="font-weight: 100;">Answer these few questions and find your risk probability from <span style="font-weight: 900;">Covid-19</span>.</p>
    <form action="#" method="POST" class="ques">
        <div class="ques-box" style="height: auto;">
            
            <label>
                <p class="question">Enter your name</p>
                <input class="text-input" aria-placeholder="Enter your name here" placeholder="Your name" type="text" name="name" required>
            </label>
        </div>
        {% for question in questions.items() %}
        <div class="ques-box">
            <p class="question">{{ question[1] }}</p>
            <label class="options">
                <input type="radio" name={{question[0]}} value="YES" required>
                YES
            </label>
            <label class="options">
                <input type="radio" name={{question[0]}} value="NO">
                NO
            </label>
        </div>
        {% endfor %}
        <div class="buttons" style="display: flex;justify-content: center;flex-direction: row;">
            <input type="submit" class="input-button" style="" name="z" value="submit" >
            <input type="reset"  class="input-button" value="Reset">
        </div>
    </form>
</body>

</html>

